@font-face {
  font-family: "FuturaLT-Light";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: local("Futura-Light"), url("/fonts/FuturaLT-Light.ttf") format("opentype");
}
@font-face {
  font-family: "FuturaLT";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: local("FuturaLT"), url("/fonts/PublicSans/FuturaLT.ttf") format("opentype");
}
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: hsl(0, 0%, 98%);
  background-color: hsl(169, 7%, 48%);
  font-size: 1.6rem;
  padding: 0.9rem;
  margin: 0.6rem auto;
  font-family: "FuturaLT-Heavy";
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.btn--green {
  background-color: hsl(85, 55%, 51%);
}

.btn--contact {
  max-width: 80%;
}

h1, h2, h3, p, span, a {
  font-family: "FuturaLT-Light";
  color: hsl(0, 0%, 10%);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 0.9rem;
}

span {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover, a:active {
  text-decoration: none;
}

.hr-line {
  width: 100%;
  margin: 1rem 0;
  border-bottom: 4px solid hsl(169, 7%, 48%);
}

.green {
  color: hsl(85, 55%, 51%);
}

.grey {
  color: hsl(220, 17%, 59%);
}

.white {
  color: hsl(0, 0%, 98%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  border: none;
  text-decoration: none;
  background-color: hsl(0, 0%, 98%);
  font-family: "FuturaLT-Light";
  font-size: 1rem;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: hsl(169, 7%, 48%);
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  color: hsl(169, 7%, 48%);
  opacity: 1;
}
input:focus-visible,
textarea:focus-visible {
  outline: none;
}

@media screen and (min-width: 375px) {
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.6rem;
  }
  span, p {
    font-size: 1.2rem;
  }
}
.about {
  max-width: 62rem;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}
.about__body {
  padding: 0.8rem 0.4rem;
}
.about__hero > img {
  max-width: 20rem;
  margin: 0 auto;
}
.about__title-mobile {
  margin: 2rem 0 1rem;
}
.about__title-mobile > ul {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  min-height: 100px;
}
.about__title-mobile__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title-mobile h3 {
  text-align: center;
  padding-top: 0.4rem;
}
.about__title-mobile__book {
  padding-left: 0.4rem;
  padding-top: 0.2rem;
}
.about__title-mobile__knowledge {
  padding-bottom: 0.4rem;
}
.about__title-mobile__job {
  padding-top: 0.2rem;
}
.about__title-desktop {
  display: none;
}
.about__title-desktop > ul {
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  min-height: 100px;
  padding: 1rem 0;
}
.about__title-desktop__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.4rem 0;
}
.about__title-desktop h3 {
  padding: 0.4rem 0;
}
.about__book, .about__item-list {
  display: grid;
  grid-template-rows: auto auto;
}
.about__book {
  row-gap: 1rem;
}
.about__item-list {
  padding: 0.8rem 0;
}
.about__item-list > h3 {
  padding: 1rem 0;
}
.about__job {
  padding: 2rem 0 4rem;
}
.about__job > h3 {
  padding: 1.2rem 0 0.4rem;
}
.about__knowledge-item {
  border-top: 1px solid black;
  padding: 0.4rem 0;
}
.about__item {
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: auto max-content;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 0.4rem 0;
}
.about__item > p {
  order: 2;
  text-align: end;
}
.about__item > span {
  order: 1;
}
.about__contact {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 4rem;
}

@media screen and (min-width: 460px) {
  .about__title-mobile > ul {
    grid-template-columns: repeat(3, 120px);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .about__contact {
    max-width: 60%;
  }
}
@media screen and (min-width: 560px) {
  .about {
    padding: 0 1rem;
  }
  .about > h1 {
    padding: 1rem 0;
  }
  .about__hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .about__hero__me {
    padding-top: 2rem;
  }
  .about__hero > img {
    max-width: 20rem;
    margin: 0 auto;
  }
  .about__title-mobile {
    display: none;
  }
  .about__title-desktop {
    display: block;
  }
  .about__title-desktop > ul {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    padding: 4rem 0;
  }
  .about__title-desktop > ul > li > h3 {
    text-align: center;
  }
  .about__contact {
    max-width: 50%;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .about__title-desktop > ul {
    grid-template-columns: repeat(3, 200px);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .about__title-desktop > ul {
    grid-template-columns: repeat(3, 240px);
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
  .about__contact {
    max-width: 40%;
    padding-bottom: 4rem;
  }
}/*# sourceMappingURL=About.css.map */