@import "../../styles/main.scss";

.reason-card {
  padding: 1rem 0;
  margin: 1rem 0;
  background-color: $color-tertiary;
  border-radius: 3rem;
  min-width: 20rem;

  & * {
    color: $color-black;
    text-align: center;
  }

  &__reason {
    
  }
}