@import "../../styles/main.scss";

.reason-card {
  padding: 1rem 1.6rem;
  margin: 1rem 0;

  background-color: $color-tertiary-opacity;
  border-radius: 3rem;

  & > h3 {
    font-size: 1.3rem;
    font-family: "FuturaLT-Light";
    color: $color-primary;
    text-align: center;
    margin-bottom: 0.8rem;
  }

  &__reason {
    padding-bottom: 0.2rem;
  }
}