@import "../../styles/main.scss";

.card-method {
	min-width: 14rem;
	padding: 2rem;

	background-color: $color-tertiary;

	&__img {
		width: 6rem;
		height: auto;
		margin: 0 auto;
		padding-bottom: 1rem;
	}

	&__horizontal-line {
		margin: .8rem 0;
	}
}
