.therapy-methods {
	overflow: hidden;
  padding: 2rem 1rem;

  &__title {
    margin-bottom: 2rem;
		text-align: left;
  }

	&__wrapper {
		display: flex;
		flex-direction: row;
	}

	&__list {
		display: flex;
    margin: 0 2rem;
    overflow-x: auto;
	}
}
