.therapy-methods {
	background-color: aquamarine;
	overflow: hidden;
  padding: 2rem 1rem;

  &__title {
    margin-bottom: 2rem;
  }

	&__wrapper {
		// height: 100vh;
		width: 400vw;
		display: flex;
		flex-direction: row;
	}

	&__list {
		display: flex;
    margin: 0 2rem;
    overflow-x: auto;
	}

	&__list > li {
		height: 16rem;
		width: 12rem;
		background-color: chartreuse;
		border: 1px solid black;
		padding: 1.5rem 2rem;
		margin-right: 4rem;
	}
}
