@font-face {
  font-family: "FuturaLT-Light";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: local("Futura-Light"), url("/fonts/FuturaLT-Light.ttf") format("opentype");
}
@font-face {
  font-family: "FuturaLT";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: local("FuturaLT"), url("/fonts/PublicSans/FuturaLT.ttf") format("opentype");
}
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: hsl(0, 0%, 98%);
  background-color: hsl(169, 7%, 48%);
  font-size: 1.6rem;
  padding: 0.9rem;
  margin: 0.6rem auto;
  font-family: "FuturaLT-Heavy";
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.btn--green {
  background-color: hsl(85, 55%, 51%);
}

.btn--contact {
  max-width: 80%;
}

.btn--back {
  background-color: transparent;
  color: hsl(169, 7%, 48%);
}

h1,
h2,
h3,
p,
span,
a {
  font-family: "FuturaLT-Light";
  color: hsl(0, 0%, 10%);
}

h1,
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 0.9rem;
}

span {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover, a:active {
  text-decoration: none;
}

.hr-line {
  width: 100%;
  margin: 1rem 0;
  border-bottom: 4px solid hsl(0, 0%, 98%);
}

.hr-line-green {
  width: 100%;
  margin: 1rem 0;
  border-bottom: 4px solid hsl(170, 17%, 86%);
}

.green {
  color: hsl(85, 55%, 51%);
}

.grey {
  color: hsl(220, 17%, 59%);
}

.white {
  color: hsl(0, 0%, 98%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  border: none;
  text-decoration: none;
  background-color: hsl(0, 0%, 98%);
  font-family: "FuturaLT-Light";
  font-size: 1rem;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: hsl(169, 7%, 48%);
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  color: hsl(169, 7%, 48%);
  opacity: 1;
}
input:focus-visible,
textarea:focus-visible {
  outline: none;
}

@media screen and (min-width: 375px) {
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.6rem;
  }
  span,
  p {
    font-size: 1.2rem;
  }
}
.therapy-methods {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 4rem 0 6rem;
  background-color: hsl(0, 0%, 98%);
}
.therapy-methods__wrapper {
  width: 100%;
  padding: 0 1rem;
}
.therapy-methods__title {
  margin-bottom: 2rem;
  text-align: left;
}
.therapy-methods__content {
  display: flex;
  flex-direction: row;
  position: relative;
}
.therapy-methods__content > svg {
  position: absolute;
  z-index: 5;
  left: 75%;
  bottom: 25%;
}
.therapy-methods__list {
  display: flex;
  overflow-x: auto;
  padding-bottom: 1rem;
  /* Chrome, Edge and Safari */
}
.therapy-methods__list * {
  scrollbar-width: thin;
  scrollbar-color: hsl(85, 55%, 51%) #dfe9eb;
}
.therapy-methods__list > :not(:last-child) {
  margin-right: 2rem;
}
.therapy-methods__list::-webkit-scrollbar {
  width: 10px;
}
.therapy-methods__list::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: hsla(220, 17%, 59%, 0.4);
}
.therapy-methods__list::-webkit-scrollbar-track:hover {
  background-color: hsla(220, 17%, 59%, 0.4);
}
.therapy-methods__list::-webkit-scrollbar-track:active {
  background-color: hsla(220, 17%, 59%, 0.4);
}
.therapy-methods__list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: hsl(85, 55%, 51%);
}
.therapy-methods__list::-webkit-scrollbar-thumb:hover {
  background-color: hsl(85, 55%, 51%);
}
.therapy-methods__list::-webkit-scrollbar-thumb:active {
  background-color: hsl(85, 55%, 51%);
}

@media screen and (min-width: 768px) {
  .therapy-methods {
    padding: 4rem 0 6rem;
  }
  .therapy-methods .hand-icon {
    display: none;
  }
  .therapy-methods__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-bottom: 0;
  }
  .therapy-methods__list * {
    scrollbar-width: none;
    scrollbar-color: none;
  }
  .therapy-methods__list > :not(:last-child) {
    margin-right: 0rem;
  }
}
@media screen and (min-width: 1024px) {
  .therapy-methods__wrapper {
    max-width: 72rem;
  }
  .therapy-methods__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .therapy-methods__list {
    gap: 2rem;
  }
}/*# sourceMappingURL=TherapyMethods.css.map */