@import "../../styles/main.scss";

.therapy-methods {
	overflow: hidden;
	padding: 4rem 1rem 6rem;
	background-color: $color-white;

	max-width: 72rem;
  margin: 0 auto;

	&__title {
		margin-bottom: 2rem;
		text-align: left;
	}

	&__wrapper {
		display: flex;
		flex-direction: row;
		position: relative;

		& > svg {
			position: absolute;
			z-index: 5;
			left: 75%;
			bottom: 25%;
		}
	}

	&__list {
		display: flex;
		overflow-x: auto;
		padding-bottom: 1rem;

		* {
			scrollbar-width: thin;
			scrollbar-color: $color-primary #dfe9eb;
		}

		& > :not(:last-child) {
			margin-right: 2rem;
		}

		/* Chrome, Edge and Safari */
		&::-webkit-scrollbar {
			width: 10px;
		}
		&::-webkit-scrollbar-track {
			border-radius: 5px;
			background-color: $color-secondary-opacity;
		}

		&::-webkit-scrollbar-track:hover {
			background-color: $color-secondary-opacity;
		}

		&::-webkit-scrollbar-track:active {
			background-color: $color-secondary-opacity;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background-color: $color-primary;
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: $color-primary;
		}

		&::-webkit-scrollbar-thumb:active {
			background-color: $color-primary;
		}
	}
}

@media screen and (min-width: 768px) {
	.therapy-methods {

		padding: 4rem 0 6rem;
		
		& .hand-icon {
			display: none;
		}

		&__list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;

			padding-bottom: 0;

			* {
				scrollbar-width: none;
				scrollbar-color: none;
			}

			& > :not(:last-child) {
				margin-right: 0rem;
			}
		}
	} 
}

@media screen and (min-width: 1024px) {
	.therapy-methods {
		&__list {
			grid-template-columns: repeat(3, 1fr);
		}
	} 
}

@media screen and (min-width: 1200px) {
	.therapy-methods {
		&__list {
			gap: 2rem;
		}
	} 
}