@import "../../styles/main.scss";

.hero {

	&__picture {
		position: relative;
		height: min-content;
		padding-bottom: 6rem;
	}

	&__text {
		position: absolute;

		bottom: 0;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		height: 600px;

		padding-left: .4rem;

		overflow: hidden;
	}

	&__title {
		display: flex;
	}

	&__greeting {
		padding: 2rem 1rem 4rem 1rem;

		& > p {
			margin: 1rem 0;
		}

		& > img {
			padding: 2rem 0;
		}
	}
}
