@import "../../styles/main.scss";

.hero {
	position: relative;

	&__text {
		position: absolute;

		top: 0;
    left: .4rem;

		display: flex;
		flex-direction: column;

		height: 100svh;

		padding-top: 32rem;
		padding-left: .4rem;

		overflow: hidden;
	}

	&__title {
		display: flex;
	}

	&__greeting {
		padding: 10rem 1rem 4rem 1rem;

		& > p {
			margin: 1rem 0;
		}
	}
}
