@font-face {
  font-family: "FuturaLT-Light";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: local("Futura-Light"), url("/fonts/FuturaLT-Light.ttf") format("opentype");
}
@font-face {
  font-family: "FuturaLT";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: local("FuturaLT"), url("/fonts/PublicSans/FuturaLT.ttf") format("opentype");
}
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: hsl(0, 0%, 98%);
  background-color: hsl(169, 7%, 48%);
  font-size: 1.6rem;
  padding: 0.9rem;
  margin: 0.6rem auto;
  font-family: "FuturaLT-Heavy";
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  border-radius: 0;
}

h1, h2, h3, p, span, a {
  font-family: "FuturaLT-Light";
  color: hsl(0, 0%, 10%);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1rem;
}

span {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover, a:active {
  text-decoration: none;
}

.hr-line {
  width: 100%;
  margin: 1rem 0;
  border-bottom: 4px solid hsl(169, 7%, 48%);
}

.green {
  color: hsl(85, 55%, 51%);
}

.grey {
  color: hsl(220, 17%, 59%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  border: none;
  text-decoration: none;
  background-color: hsl(0, 0%, 98%);
  font-family: "FuturaLT-Light";
  font-size: 1rem;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: hsl(169, 7%, 48%);
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  color: hsl(169, 7%, 48%);
  opacity: 1;
}
input:focus-visible,
textarea:focus-visible {
  outline: none;
}

.hero__picture {
  position: relative;
  height: -moz-min-content;
  height: min-content;
  padding-bottom: 6rem;
}
.hero__content {
  display: flex;
  flex-direction: column;
}
.hero__text {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 600px;
  padding-left: 1rem;
  overflow: hidden;
}
.hero__contact {
  display: none !important;
}
.hero__title {
  display: flex;
}
.hero__greeting {
  padding: 2rem 1rem 4rem 1rem;
}
.hero__greeting > p {
  margin: 1rem 0;
}
.hero__greeting > img {
  padding: 2rem 0;
}

@media screen and (min-width: 480px) {
  .hero__picture {
    width: 80%;
    margin: 0 auto;
  }
  .hero__text {
    padding-left: 1.2rem;
  }
}
@media screen and (min-width: 640px) {
  .hero {
    padding: 0 1rem;
  }
  .hero__picture > img {
    max-height: 48rem;
    max-width: 32rem;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0;
  }
  .hero__picture {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    padding-bottom: 0;
  }
  .hero__content {
    padding: 0 2rem;
  }
  .hero__text {
    position: relative;
    height: 400px;
  }
  .hero__contact {
    display: flex !important;
  }
}/*# sourceMappingURL=Hero.css.map */