@import "../../styles/main.scss";

.hero {
	position: relative;

	&__text {
		position: absolute;
		top: 0;
		height: 95svh;

		display: flex;
		flex-direction: column;

		padding-left: .4rem;

		overflow: hidden;
	}

	&__title {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		height: 100%;
	}

	&__greeting {
		padding: 10rem 1rem 4rem 1rem;

		& > p {
			margin: 1rem 0;
		}
	}
}
