@font-face {
	font-family: "FuturaLT-Light";
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: local("Futura-Light"), url("/fonts/FuturaLT-Light.ttf") format("opentype");
}

@font-face {
	font-family: "FuturaLT";
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: local("FuturaLT"), url("/fonts/PublicSans/FuturaLT.ttf") format("opentype");
}
