$color-primary: hsl(85, 55%, 51%);
$color-secondary: hsl(220, 17%, 59%);
$color-tertiary: hsl(184, 100%, 87%);
$color-fourth: hsl(190, 100%, 50%);
$color-highlight: hsl(33, 100%, 79%);



$color-white: hsl(0, 0%, 98%);
$color-white-2: hsl(120, 100%, 99%);
$color-black: #1f1f1f;

$color-white-opacity: hsla(0, 0%, 98%, 0.4);
$color-white-opacity-dark: hsla(0, 0%, 98%, 0.8);