$color-first: #00a4e8;
$color-first-dark: #033587;
$color-first-light: #c2d1ff;
$color-second: #efaa54;
$color-second-dark: #db954b;
$color-third: #f16373;
$color-demo: red;

$color-white: #fafafa;
$color-black: #1f1f1f;

$color-background: #eaeded;