@import "./fonts";
@import "./components";
@import "./variables";

.green {
  color: $color-primary;
}

.grey {
  color: $color-secondary;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}