@import "./fonts";
@import "./components";
@import "./variables";

h1, h2, h3, p, span {
  font-family: "FuturaLT-Light";
  font-weight: 300;
  color: $color-black;
}

p, span {
  color: $color-grey;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem
}

h3 {
  font-size: 1.6rem
}

p {
  font-size: 1rem;
}

span {
  font-size: 1rem;
}

.green {
  color: $color-primary;
}

.grey {
  color: $color-secondary;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  border: none;
  text-decoration: none;
  background-color: $color-white;
  font-family: "FuturaLT-Light";
  font-size: 1rem;

  &::placeholder {
    color: $color-grey;
    opacity: 1;
  }

  &:focus-visible {
    outline: none;
  }
}