.navbar {
  position: fixed;
  top: 0;

  width: 100vw;
  height: auto;

  padding: 1rem;

  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  
  & > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & > li > img {
    width: 8rem;
  }
  
}