@import "../../styles/main.scss";

.process {
	width: 100vw;
	height: 210vh;
	position: relative;
	display: grid;
	grid-template-columns: 20% 80%;
  overflow: hidden;

	&__container {
		width: 70%;
		height: 200vh;
		margin: 0 auto;
		position: relative;
	}

	&__description {
		display: grid;
		grid-auto-rows: min-content;
		align-items: start;
		row-gap: 2rem;

		margin-top: 4rem;
	}

	&__item {
		display: grid;
		grid-template-rows: auto 1fr;
		row-gap: 1rem;

		background-color: $color-tertiary-opacity;

		padding: 0.8rem;
		margin-right: .4rem;
		border-radius: 20px;
	}

	&__img {
		width: 6rem;
		height: auto;
	}

	& p {
		font-size: .9rem;
	}
}
