@import "../../styles/main.scss";

.process {
	padding: 4rem 0;
	background-color: $color-tertiary;

	&__body {
		width: 100vw;
		height: 1300px;
		position: relative;
		display: grid;
		grid-template-columns: 20% 80%;
		overflow: hidden;

		padding-top: 2rem;
	}

	&__title {
		padding: 1rem;
	}
	
	&__title > img {
		margin: 1rem 0;

	}

	&__title > h1 {
		text-align: left;
	}

	&__container {
		width: 70%;
		height: 200vh;
		margin: 0 auto;
		position: relative;
	}

	&__description {
		display: grid;
		grid-auto-rows: min-content;
		align-items: start;
		row-gap: 4rem;

		margin-top: 10rem;
	}

	&__item {
		display: grid;
		grid-template-rows: auto 1fr;
		row-gap: 1rem;

		background-color: $color-white;

		padding: 0.8rem;
		margin-right: 0.4rem;
		border-radius: 20px;
	}

	&__img {
		width: 6rem;
		height: auto;
	}

	&__item-placeholder {
		display: none;
	}
}

@media screen and (min-width: 350px) {
  .process {
		&__description {
			row-gap: 4.4rem;
		}
  }
}

@media screen and (min-width: 375px) {
  .process {
		&__body {
			padding-right: 1rem;
		}

		&__description {
			row-gap: 3.2rem;
		}
  }
}

@media screen and (min-width: 425px) {
  .process {
		&__description {
			row-gap: 4.4rem;
		}
  }
}

@media screen and (min-width: 550px) {
  .process {
		&__description {
			row-gap: 5.6rem;
		}
  }
}

@media screen and (min-width: 640px) {
  .process {
		&__description {
			row-gap: 7rem;
		}
		&__hero-image {
			padding: 0 1rem;
		}
  }
}

@media screen and (min-width: 768px) {
  .process {
    &__body {
			grid-template-columns: 1fr;
			padding: 0 2rem;
			height: 1320px;
		}

		&__container {
			position: absolute;
			top: 0.5rem;
			left: 50%;
			transform: translateX(-50%);
		}

		&__description {
			display: flex;
			flex-direction: column;
			row-gap: 0;

			margin-top: 12rem;
		}

		&__item {
			width: 40%;
		}

		&__item:nth-of-type(even) {
			align-self: flex-end;
		}

		&__item:nth-of-type(odd) {
			align-self: flex-start;
		}

		&__child-1 {
			transform: translateY(40px);
		}

		&__child-2 {
			transform: translateY(-30px);
		}

		&__child-3 {
			transform: translateY(-120px);
		}

		&__child-4 {
			transform: translateY(-260px);
		}

		// &__description:nth-child(even) {
		// 	align-items: flex-end;
		// }

		// &__description:nth-child(odd) {
		// 	align-items: flex-start;
		// }


		// &__description:nth-child(odd) {
		// 	align-items: flex-start;
		// }

		// &__item-placeholder {
		// 	display: flex;
		// 	width: 100%;
		// 	height: 100%;
		// }

		// &__item {
		// 	grid-template-rows: 1fr;
		// 	grid-template-columns: auto 1fr;
		// 	column-gap: 2rem;
		// 	height: 12rem;
		// }

		&__img {
			width: 12rem;
		}
  }
}