@import "../../styles/main.scss";

.process {
	padding: 4rem 0;
	background-color: $color-tertiary;

	&__body {
		width: 100vw;
		height: 1300px;
		position: relative;
		display: grid;
		grid-template-columns: 20% 80%;
		overflow: hidden;

		padding-top: 2rem;
	}

	&__title {
		padding: 1rem;
	}
	
	&__title > img {
		margin: 1rem 0;

	}

	&__title > h1 {
		text-align: left;
	}

	&__container {
		width: 70%;
		height: 200vh;
		margin: 0 auto;
		position: relative;
	}

	&__description {
		display: grid;
		grid-auto-rows: min-content;
		align-items: start;
		row-gap: 4rem;

		margin-top: 10rem;
	}

	&__item {
		display: grid;
		grid-template-rows: auto 1fr;
		row-gap: 1rem;

		background-color: $color-white;

		padding: 0.8rem;
		margin-right: 0.4rem;
		border-radius: 20px;
	}

	&__img {
		width: 6rem;
		height: auto;
	}
}

@media screen and (min-width: 350px) {
  .process {
		&__description {
			row-gap: 4.4rem;
		}
  }
}

@media screen and (min-width: 375px) {
  .process {
		&__body {
			padding-right: 1rem;
		}

		&__description {
			row-gap: 3.2rem;
		}
  }
}

@media screen and (min-width: 425px) {
  .process {
		&__description {
			row-gap: 4.4rem;
		}
  }
}

@media screen and (min-width: 550px) {
  .process {
		&__description {
			row-gap: 5.6rem;
		}
  }
}

@media screen and (min-width: 640px) {
  .process {
		&__description {
			row-gap: 7rem;
		}
  }
}

@media screen and (min-width: 768px) {
  .process {
    &__body {
			padding-right: 3rem;
		}

		&__description {
			row-gap: 6rem;
		}

		&__item {
			grid-template-rows: 1fr;
			grid-template-columns: auto 1fr;
			column-gap: 2rem;
			height: 12rem;
		}

		&__img {
			width: 12rem;
		}
  }
}