@import "../../styles/main.scss";

footer {
	display: grid;
	justify-items: center;
	grid-template-rows: repeat(2, minmax(0, 1fr));
	background-color: $color-secondary;
	padding: 1rem;
	gap: 0.5rem 0;

	& > p {
		width: fit-content;
		font-size: 0.8rem;
		color: white;
	}
}

@media (min-width: 425px) {
	footer {
		justify-content: center;
	}
}

@media (min-width: 640px) {
	footer {
		display: flex;
		column-gap: 2rem;
		justify-content: center;
	}
}

@media (min-width: 768px) {
	footer {
		column-gap: 4rem;
	}
}

@media (min-width: 1024px) {
	footer {
		column-gap: 6rem;
	}
}
