@import "./styles/main.css";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
}

*::selection {
	background: hsl(33, 100%, 79%);
}

ul {
	text-decoration: none;
	list-style-type: none;
}

ul li {
	text-decoration: none;
	list-style-type: none;
}

ol {
	padding-left: 2rem;
}

ol li {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}
