@import "./styles/main.css";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
}

img {
	display: block;
}

*::selection {
	background: red;
}

li,
ul,
ol {
	text-decoration: none;
}
